body {
  background-color: rgba(135, 135, 146, .2);
}
.icon000 {
  color: #eee !important;
}
.icon100 {
  color: rgba(238, 238, 238, 0.7) !important; /* lightGray */
}
.icon200 {
  color: rgb(100, 100, 100) !important; /* Gray */
}
.MuiButton-root:not(.noColorButton) {
  background-color: rgb(71, 130, 218) !important;
  color: #fff;
}
.Mui-checked {
  color: rgb(71, 130, 218) !important;
}
.home-view .MuiButtonBase-root {
  margin-right: 40px;
}